.user{
    background-image: url("../../Image/create.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.text{

    color:aqua;
    font-size: 100px;
    
}