.login ion-icon {
    color:aqua;
    padding: 10px 10px;    
}

.login ion-icon:hover {   
    color: aqua;
    box-shadow: 1px 1px 20px 8px aqua;
    border-radius: 50px;
    transform: translateY(5px);
    padding: 10px 10px;    
}