.container {
    background-image: url("../../Image/profile.png");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}