/* .user{    
    margin: 0;
    position: relative;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size: 12px;
    font-weight: 500;
   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    width: 100%;
    background-position: center;
    background-size: cover; 
    text-decoration: none;
} */

.container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    
    background-color: rgba(0,0,0,.7);
    backdrop-filter: blur(5px);
    border: 2px solid black;
    height: 350px;
    width: 1000px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border:2px solid aqua;
    display: block;
    text-align: center;
    display: flex;
    position: relative;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.349);
    left: 600px;
    top: 190px;
    
}
.title{
    color: white;
    position: absolute;
    align-items: top;
    justify-content: top;
    font-size: 40px;
    font-weight: 400;
    padding-left: 50px;
    padding-top: 50px;
    text-decoration: none;
    bottom: 950x;
    border-radius: 10px;
    
    
}
.containerData{
    position: relative;
    align-items: left;
    align-self: left;
    justify-content: left;
    color: white;
    font-size: 16px;
    padding-left: 50px;
    padding-top: 90px;
    bottom: 370px;
}
.iconRegisterButton{
    color: white;
    background-color: transparent;
    border: none;
    text-decoration: none;
    margin-top: 50px;
    font-size: 30px;
}
.Background{
    background-image: url("../../Image/profile.png");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.card{
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid black;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,.7);
    height: 400px;
}
.containerImage{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: right;
    position: relative;
    left: 350px;
    bottom: 30px;
}